/* Standard property for Firefox, Chrome 121+, Edge 121+ */
* {
  scrollbar-width: thin; 
}

/* Vendor prefix for older Chrome/Edge, Safari, Opera, Samsung Internet */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c4a6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c4a6e;
}

@media (prefers-color-scheme: dark) {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(30, 41, 59);
  }
}



/* 'scrollbar-width' is not supported by Chrome < 121, Safari, Safari on iOS, Samsung Internet. */

/* * {
  scrollbar-width: thin;
} */

/* width */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: white;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #0c4a6e;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #0c4a6e;
} */

/* @media (prefers-color-scheme: dark) { */
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: rgb(30, 41, 59);
  }
} */
